.sliderbackground {
  top: 100px;
  height: 80%;
  width: 90%;
  margin-top: 1%;
  margin-left: 5%;
  background-image: linear-gradient(to right, #485c6f8c, #b8c1c889);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
}

@media only screen and (max-width: 768px) {
  /* Styles for small screens */
  .sliderbackground {
    top: 30%;
    height: 70%;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1200px) {
  /* Styles for large screens */
  .sliderbackground {
    top: 120px;
    height: 70%;
    width: 80%;
    margin-top: 1%;
    margin-left: 10%;
  }
}
